<div class="auth-wrapper">
    <div class="auth">
        <div class="auth__close">
            <div class="auth__close-icon"></div>
        </div>
        <div class="auth__picture">
            <img src="/src/assets/img/auth-pic.png" alt="Логотип чата" class="auth__pic">
        </div>
        <div class="auth__title">Авторизация</div>
        <div class="auth__desc">
            <p>
                Введите, пожалуйста, имя и пароль для дальнейшей авторизации
            </p>
        </div>
        <form action="#" class="auth-form">
            <div class="auth-form__fieldset">
                <div class="auth-form__field">
                    <label for="username" class="auth-form__field-required"></label>
                    <input type="text" id="username" class="auth-form__field-input" placeholder="Введите имя" autocomplete="off">
                </div>
                <div class="auth-form__field">
                    <label for="password" class="auth-form__field-required"></label>
                    <input type="password" id="password" class="auth-form__field-input" placeholder="Введите пароль" autocomplete="off">
                </div>
            </div>
            <button type="submit" id="login" class="btn btn--login">Войти</button>
        </form>
    </div>
</div>