<div class="upload-dialog-wrapper">
    <div class="upload-dialog">
        <div class="upload-dialog__close">
            <div class="upload-dialog__close-icon"></div>
        </div>
        <div class="upload-dialog__title">Загрузка фото</div>
        <div class="upload-dialog__details">
            <a class="upload-dialog__picture">
                <img src="./src/assets/img/upload-temp.png" alt="Аватар для Вашего профиля" class="upload-dialog__pic">
            </a>
            <div class="upload-dialog__user">
                <div class="upload-dialog__username">{{user.login}}</div>
                <div class="upload-dialog__userstatus">В сети</div>
            </div>
        </div>
    </div>
</div>