<div class="upload-wrapper">
    <div class="upload">
        <form action="#" class="upload__form">
            <label for="upload">
                <div class="upload__form-crop">
                    <img src="" alt="Аватар для Вашего профиля" class="upload__form-pic">
                    <div class="upload__form-filter"></div>
                </div>
            </label>
            <input type="file" id="upload" class="upload__form-input" required>
            <div class="upload__form-title">Область для профильной фотографии</div>
            <div class="upload__form-btns">
                <button type="button" class="btn btn--cancel">Отмена</button>
                <button type="submit" class="btn btn--upload">Сохранить</button>
            </div>
        </form>
    </div>
</div>