<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
    </head>
    <body>
        <div class="container">
            <div class="error-message"></div>
            {{>'views/auth.hbs'}}
            {{>'views/chat.hbs'}}
            {{>'views/upload-dialog'}}
            {{>'views/upload.hbs'}}
        </div>
    </body>
</html>